.title {
  margin-top: 95px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  color: var(--main-green-color);
}

.tabsSection {
  max-width: 1316px;
  margin: 0 auto;
}

.tabButtons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.tabButton {
  width: 248px;
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: var(--white-color); 
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: var(--slider-text-color); 
  transition: all 0.2s ease;
}

.tabButton:hover {
  background: var(--light-grey-color); 
  color: var(--slider-text-color);
}

.active {
  background: var(--main-green-color);
  color: var(--white-color); 
}

.tabContent {
  margin-bottom: 115px;
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.icon {
  width: 58px;
  height: 58px;
  transition: filter 0.2s ease, fill 0.2s ease;
}

/* Чёрная (по умолчанию) */
.iconInactive {
  filter: brightness(0) invert(0);
}

/* При ховере неактивная становится черной */
.active:hover .iconActive {
  filter: brightness(0) invert(0);
}

/* Активная всегда белая */
.iconActive {
  filter: brightness(0) invert(1);
}

.image {
  width: 648px;
  height: 348px;
  border-radius: 6px;
  background-size: contain;
}

.subtitile {
  margin-bottom: 30px;
  color: var(--slider-text-color);
  font-size: 24px;
  font-weight: 700;
}

.text {
  margin-bottom: 16px;
  color: var(--slider-text-color);
  font-size: 16px;
  font-weight: 400;
}

.button {
  width: 205px;
  height: 47px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  padding: 10px;
  color: var(--white-color);
  background: linear-gradient(90deg, #4ABC05, #3B9A00);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(90deg, #3b9a00, #4abc05);
}