.page {
  --main-green-color: #00813B;
  --menu-green-color: #007832;
  --dark-green-color: #005825;
  --white-color: #FFFFFF;
  --grey-color: #F4F4F4;
  --button-grey-color: #ECECEC;
  --light-grey-color: #D9D9D9;
  --blue-color: #002957;
  --slider-text-color: #323B4A;
  font-family: var(--font-geist-sans);
  background-color: var(--button-grey-color);
}

.header {
  height: 179px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}


