.page {
  /* --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05); */

  --main-green-color: #00813B;
  /* --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px; */
  font-family: var(--font-geist-sans);
}

.header {
  width: min(100% - 30px, 1320px);
  padding-right: calc();
  padding-left: calc();
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.header__information {
  min-height: 104px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper:last-child {
  gap: 2.5rem;
}

.header__logo {
  margin-right: 19px;
}

.header__text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  height: 100%;
  min-height: 50px;
  padding-left: 25px;
  padding-top: 5px;
  text-align: left;
  text-transform: uppercase;
  border-left: 2px solid var(--main-green-color);
}

.header__span {
  display: block;
}

.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.header__container_phone {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__dropdown {
  width: 220px;
  height: 50px;
  position: absolute;
  top: 100%; 
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 5px 30px;
  display: none; 
  z-index: 100;
  white-space: nowrap; 
}

.header__dropdown p:hover {
  color: var(--main-green-color);
}

.header__container_phone:hover .header__dropdown {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.header__container_phone img:last-child {
  transition: transform 0.3s ease;
}

.header__container_phone:hover img:last-child {
  transform: rotate(180deg);
}

.header__text_bold {
  font-weight: 700;
}

.header__text_bold:hover {
  color: var(--main-green-color);
  cursor: pointer;
}


.header__text_green {
  color: var(--main-green-color);
  font-weight: 700;
}